<div class="container">
    <div class="row">
        <!-- Left Side: List of Jenkins Jobs -->
        <div class="col-4">
            <h2>Jenkins Jobs</h2>
            <button class="btn btn-primary" (click)="createNewPipeline()">Create New Pipeline</button>
            <ul class="job-list">
                <li *ngFor="let job of jenkinsJobs" (click)="loadJob(job)" class="job-item">
                    {{ job.jobName }}
                </li>
            </ul>
        </div>

        <!-- Right Side: Jenkins Job Form -->
        <div class="col-8">
            <h1>Jenkins Job Configuration</h1>
            <form id="jenkinsForm" [formGroup]="jenkinsForm" (ngSubmit)="onSubmit($event)">
                <input id="id" formControlName="id" type="hidden" />
                <div class="form-group">
                    <label for="jobName">Job Name</label>

                    <!-- Conditionally render input or label based on isNewPipeline -->
                    <div *ngIf="isNewPipeline">
                        <input type="text" id="jobName" formControlName="jobName" placeholder="Enter job name" required>
                    </div>
                    <div *ngIf="!isNewPipeline">
                        <input type="text" id="jobName" formControlName="jobName" readonly class="disable">
                    </div>


                </div>

                <div class="form-group">
                    <label for="jobDescription">Description</label>
                    <textarea id="jobDescription" formControlName="jobDescription"
                        placeholder="Enter job description"></textarea>
                </div>

                <div class="form-group">
                    <label for="authToken">Auth Token</label>
                    <input type="text" id="authToken" formControlName="authToken" placeholder="Enter auth token"
                        required>
                </div>

                <div class="form-group">
                    <label for="pipelineContent">Pipeline Content</label>
                    <textarea id="pipelineContent" formControlName="pipelineContent"
                        placeholder="Enter pipeline content" required></textarea>
                </div>

                @if(isNewPipeline){
                <button type="submit" class="btn btn-success">Create Pipeline</button>

                }
                @else{
                <button type="submit" class="btn btn-primary">Save Pipeline</button>
                }
            </form>
        </div>
    </div>
</div>