apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${AUTH_DEPLOYMENT_NAME}
spec:
  replicas: ${AUTH_REPLICAS}
  selector:
    matchLabels:
      app: ${AUTH_DEPLOYMENT_NAME}
  template:
    metadata:
      labels:
        app: ${AUTH_DEPLOYMENT_NAME}
    spec:
      containers:
        - name: ${AUTH_CONTAINER_NAME}
          image: ${IMAGE_NAME}:${IMAGE_TAG}
          ports:
            - containerPort: ${AUTH_PORT}
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "${AUTH_ENVIRONMENT}"
            - name: ConnectionStrings__DefaultConnection
              value: "Server=${MYSQL_SERVICE_NAME};Port=${MYSQL_PORT};Database=${AUTH_DATABASE};User=root;Password=$Password;SslMode=None;AllowPublicKeyRetrieval=True;"
            - name: ConnectionStringsCredential__DefaultConnection
              valueFrom:
                secretKeyRef:
                  name: ${AUTH_SECRET_NAME}
                  key: ${AUTH_SECRET_PASSWORD_KEY}
          resources:
            requests:
              memory: "128Mi"
              cpu: "500m"
            limits:
              memory: "256Mi"
              cpu: "1"

---
# User Service
apiVersion: v1
kind: Service
metadata:
  name: ${AUTH_SERVICE_NAME}
spec:
  type: NodePort
  ports:
    - port: ${AUTH_PORT}
      targetPort: ${AUTH_PORT}
      nodePort: ${AUTH_NODE_PORT}
  selector:
    app: ${AUTH_DEPLOYMENT_NAME}
