version: "3.8"

services:
  # Fakebook UI service
  compose-ui-service:
    image: huynhngocsonuit2000docker/fakebook-ui:v005
    container_name: compose-ui-service
    ports:
      - "9200:80"
    depends_on:
      - compose-user-sqlserver
      - compose-user-user-service
    networks:
      - docker_compose_network

  # Fakebook IdP UI service
  compose-idpui-service:
    image: huynhngocsonuit2000docker/fakebook-idpui:v005
    container_name: compose-idpui-service
    ports:
      - "9201:80"
    depends_on:
      - compose-idp-api-service
    networks:
      - docker_compose_network

  # IdP API service
  compose-idp-api-service:
    image: huynhngocsonuit2000docker/fakebook-idpapi:v002
    container_name: compose-idp-api-service
    ports:
      - "2001:80"
    networks:
      - docker_compose_network

  # API Gateway service
  compose-apigateway-service:
    image: huynhngocsonuit2000docker/fakebook-apigateway:v001
    container_name: compose-apigateway-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Compose
    ports:
      - "4321:80"
    depends_on:
      - compose-user-user-service
    networks:
      - docker_compose_network

  # User SQL server
  compose-user-sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: compose-user-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=admin1234$
    ports:
      - "2433:1433"
    networks:
      - docker_compose_network
    volumes:
      - user-mssql-data:/var/opt/mssql

  # User service
  compose-user-user-service:
    image: huynhngocsonuit2000docker/fakebook-userservice:v005
    container_name: compose-user-user-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Compose
      - ConnectionStrings__DefaultConnection=Server=compose-user-sqlserver,1433;Database=UserDatabase;User Id=sa;Password=admin1234$;
    ports:
      - "4000:80"
    depends_on:
      - compose-user-sqlserver
    networks:
      - docker_compose_network

  # Auth SQL server
  compose-auth-sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: compose-auth-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=admin1234$
    ports:
      - "2434:1433"
    networks:
      - docker_compose_network
    volumes:
      - auth-mssql-data:/var/opt/mssql
networks:
  docker_compose_network:
    driver: bridge

volumes:
  user-mssql-data:
  auth-mssql-data:
