version: "3.8"

services:
  # Fakebook UI service
  compose-ui-service:
    image: huynhngocsonuit2000docker/fakebook-ui:v006
    container_name: compose-ui-service
    ports:
      - "9200:80"
    depends_on:
      - compose-user-mysql
      - compose-user-user-service
    networks:
      - docker_compose_network

  # Fakebook IdP UI service
  compose-idpui-service:
    image: huynhngocsonuit2000docker/fakebook-idpui:v006
    container_name: compose-idpui-service
    ports:
      - "9201:80"
    depends_on:
      - compose-idp-api-service
    networks:
      - docker_compose_network

  # IdP API service
  compose-idp-api-service:
    image: huynhngocsonuit2000docker/fakebook-idpapi:v006
    container_name: compose-idp-api-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Compose
    ports:
      - "2001:80"
    networks:
      - docker_compose_network
    volumes:
      - ./../../keys:/run/secrets/
    depends_on:
      - compose-idp-mysql

  # IdP My SQL
  compose-idp-mysql:
    image: mysql:latest
    container_name: compose-idp-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=admin1234$
      - MYSQL_DATABASE=IdPDatabase
    ports:
      - "4308:3306"
    networks:
      - docker_compose_network
    volumes:
      - idp-mysql-data:/var/lib/mysql

  # API Gateway service
  compose-apigateway-service:
    image: huynhngocsonuit2000docker/fakebook-apigateway:v003
    container_name: compose-apigateway-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Compose
    ports:
      - "4321:80"
    depends_on:
      - compose-user-user-service
    networks:
      - docker_compose_network

  # User My SQL
  compose-user-mysql:
    image: mysql:latest
    container_name: compose-user-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=admin1234$
      - MYSQL_DATABASE=UserDatabase
    ports:
      - "4306:3306"
    networks:
      - docker_compose_network
    volumes:
      - user-mysql-data:/var/lib/mysql

  # User service
  compose-user-user-service:
    image: huynhngocsonuit2000docker/fakebook-userservice:v006
    container_name: compose-user-user-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Compose
      - ConnectionStrings__DefaultConnection=Server=compose-user-mysql;Port=3306;Database=UserDatabase;User=root;Password=admin1234$;SslMode=None;AllowPublicKeyRetrieval=True;
    ports:
      - "4000:80"
    depends_on:
      - compose-user-mysql
    networks:
      - docker_compose_network

  # Auth My SQL
  compose-auth-mysql:
    image: mysql:latest
    container_name: compose-auth-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=admin1234$
      - MYSQL_DATABASE=AuthDatabase
    ports:
      - "4307:3306"
    networks:
      - docker_compose_network
    volumes:
      - auth-mysql-data:/var/lib/mysql

  # Auth service
  compose-auth-auth-service:
    image: huynhngocsonuit2000docker/fakebook-authservice:v006
    container_name: compose-auth-auth-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Compose
      - ConnectionStrings__DefaultConnection=Server=compose-auth-mysql;Port=3306;Database=AuthDatabase;User=root;Password=admin1234$;SslMode=None;AllowPublicKeyRetrieval=True;
    ports:
      - "4005:80"
    depends_on:
      - compose-auth-mysql
    networks:
      - docker_compose_network
    volumes:
      - ./../../keys:/run/secrets/

networks:
  docker_compose_network:
    driver: bridge

volumes:
  user-mysql-data:
  auth-mysql-data:
  idp-mysql-data:
