version: '3.8'

services:
  compose-user-sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: compose-user-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=admin1234$
    ports:
      - "2433:1433"
    networks:
      - docker_compose_network
    volumes:
      - mssql-data:/var/opt/mssql

  compose-user-user-service:
    image: huynhngocsonuit2000docker/fakebook-userservice:v003
    container_name: compose-user-user-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=compose-user-sqlserver,1433;Database=UserDatabase;User Id=sa;Password=admin1234$;
    ports:
      - "4000:80"
    depends_on:
      - compose-user-sqlserver
    networks:
      - docker_compose_network

networks:
  docker_compose_network:
    driver: bridge

volumes:
  mssql-data:
