<!-- <div [ngClass]="{ 'modal-open': isOpen }" (click)="close.emit()">
    <div class="modal fade fingerprint-modal" [ngClass]="{ show: isOpen }"
        style="display: {{ isOpen ? 'block' : 'none' }};" aria-modal="{{ isOpen }}" aria-hidden="{{ !isOpen }}"
        (click)="close.emit()">
        <div class="modal-dialog modal-dialog-centered" (click)="onModalClick($event)">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</div> -->