// Variables
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$background-color: #ffffff;
$text-color: #000000;
$button-color: #2563eb;
$button-hover-color: #1e4db7;

// Container Styling
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // Ensures full height of the screen
  background-color: $background-color;
  text-align: center;
  font-family: $font-primary;

  .oops-text {
    font-size: 400px;
    font-weight: 900;
    margin: 0;
    background: url("./../../../../public/images/callback-background.jpg")
      center / cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .error-code {
    font-size: 24px;
    font-weight: bold;
    color: $text-color;
    margin: 10px 0;
  }

  .home-button {
    text-decoration: none;
    color: #ffffff;
    background-color: $button-color;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;

    &:hover {
      background-color: $button-hover-color;
    }
  }
}
